
header.masthead .masthead-img {
    max-width: 750px;
    max-height: 750px; 
}

header.masthead .masthead-img {
    /* max-width: 150px; */
    /* max-height: 150px; */
}

.list-image{
	max-width: -webkit-fill-available;
	max-height: auto;
}